/*
 * common styles
 */
 body {
    font-size: 14px;
 }
body, a 
{
    font-family: Muli, sans-serif;
    line-height: 1.75;
    letter-spacing: 0em;
    font-weight: 400;
    background-color: #fff;
    color: #595959;
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
	/* line-height: 1;
	font-weight: 300; */
	color: ;
	margin: 0;
}
h1 {
	letter-spacing: 0.6rem; /* 1.2 */
	line-height: 1.5; /* 1.2 */
	font-size: 60px;
	font-weight: 700;

}
h2, h2 a {
    font-weight: 600;
    font-size: 35px;
    line-height: 1.2;
	font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    text-align: inherit;
    color: #101010;
}
h4, h4 a {
    font-weight: 400;
    font-size: ;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    text-align: inherit;
    color: #303030;
    text-decoration: none;
}
h5, h5 a {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.15em;
    text-align: inherit;
    color: #303030;
    text-decoration: none;
}
h6 {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.24em;
    text-align: inherit;
    color: #303030;
}
/*
h1 a:hovar, h2 a:hovar, h3 a:hovar, h4 a:hovar, h5 a:hovar {
	text-decoration: none;
	color: #999999;
}
*/
.wrapper {
	width: 100%;
	margin: 0 auto;
}
.wrapper .row {
  margin-left: 0;
  margin-right: 0;
}


/*
 * header styles
 */
.header-container {
	padding: 15px 0;
} 
header .navbar a {
 	text-decoration: none;
	color: #595959;
}
header .navbar a:hover {
 	text-decoration: none;
 	color: #999999;	
}
header .site-logo a {
 	text-transform: uppercase;
    font-weight: 600;
    font-size: 23px;
}
header .site-logo a:hover {

}

.header-toggler {
	color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.2);
}
.header-toggler-icon {
	/*
	display: inline-block;
	content: "\f0c9";
	color: rgba(0,0,0,.5);
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	*/

	font-size: 1.8rem;
}

.site-navigation {
	padding-left: 60px;
}
.site-navigation ul {
	list-style: none;
	width: 100%;
	height: 100%;
	margin-bottom: 0;
	justify-content: space-between;
	align-items: center;
}
.site-navigation ul li {
	display: block;
	width: 100%;
	text-align: right;
}



/*
 * content styles
 */

.site-content {
	
}
.site-content__wrap {
	flex-direction: row-reverse;
} 

/* index-content */

.primary {
	/*
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    */
}

.breadcrumbs {
    padding: 55px 0 15px 0;
    border-top: 1px solid #e7e7e9;
}
.breadcrumbs__item, .breadcrumbs__item a {
    display: inline-block;
	font-weight: 500;
    font-size: 21px;
    line-height: 1.625;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0em;
}
.breadcrumbs__item-link {
 	text-decoration: none;
    color: #444444;
}
.breadcrumbs__item-link:hover {
 	text-decoration: none;
    color: #999999;
}
.breadcrumbs__item-sep {
    margin: 0 .5em;
}
.breadcrumbs__item-target {
	color: #999999;
}

.posts-list__item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 50px;
	padding-top: 55px;
    border-top: 1px solid #e7e7e9;
}
.post-icon {
    max-width: 300px;
    padding: 0;
    margin: 0 30px 0 0;
    flex: 0 0 300px;
}
.post-icon__link {
	display: block;
} 
.post-icon__link-img {
	height: auto;
    /* max-width: 100%; */
    display: inline-block;
}  

.posts-list__item-content {
    padding: 0;
    flex: 0 1 100%;	
}
.entry-header {
    margin-bottom: 5px;
}
.post__cats {
	font-size: .75rem;
	font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.post__cats a {
	color: #999999;
 	text-decoration: none;
}
.post__cats a:hover {
	color: #303030;
 	text-decoration: none;
}
.post__label i {
	float: left;
	margin-right: 10px;
}
.post__label h4 a:hover {
	color: #999999;
	text-decoration: none;
}

.entry-content p {
	margin: 0;
}
.entry-info {
	margin-bottom: 12px;
    font-weight: 400;
    font-size: 11px;
    line-height: 2;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.07em;
}
.entry-info a:hover {
	text-decoration: none;
	color: #999999;	
}
.post__autor, .post__date {
	display: inline-block;
    padding-right: 10px;
}

.entry-footer a {
	margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0.8;
    background-color: #101010;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
}
.entry-footer a:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}

.pagination {
	display: block;
	padding: 5px 0;
    margin-bottom: 85px;
    text-align: center;
}
.nav-links {
	padding-top: 10px;
	border-top: 1px solid #e7e7e9;
}
.page-numbers {
	color: #595959;
	display: inline-block;
	padding: 3px 5px;
    margin: 0 7px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.2em;
    line-height: 3;
}
.nav-links a:hover {
    text-decoration: none;
	color: #999999;    
}

/* page-content */
.post-item {
	/* 
	padding-top: 55px;
    border-top: 1px solid #e7e7e9; */
    padding-top: 45px;
}

.post-item .entry-header {
	margin-bottom: 7px;
}
h2 a:hover {
	text-decoration: none;
}

.post-item .entry-info {
	margin-bottom: 30px;
}
.post-item .post__comments, .post-item .post__tags, .post-item .post__date, .post-item .post__autor {
    display: inline-block;
    padding-right: 20px;
}
.post__tags a {
    font-weight: 700;
    text-decoration: none;
    color: #999999;
}
.post__tags a:hover {
	text-decoration: none;
	color: #444444;
}

.post-item .post-icon {
	margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    width: 100%;
    max-width: 100%;
}
.post-item .post-icon__link-img {
	width: 100%;
}

.post-item .entry-content p {
    margin: 0 0 25px;
}

.posts-list .comments-area {
	margin-top: 60px;
	margin-bottom: 60px;
    border-top: 1px solid #e7e7e9;
    padding-top: 60px;
}

.posts-list .comments-area h5{
	margin-bottom: 30px;
	font-size: 18px;
}
.posts-list .comments-area .comment-list {
	padding-bottom: 75px;
}

.posts-list .comment-list {
	list-style: none;
}

.comments-area ol {
	padding-left: 0px;
	list-style: none;
}
.comment-list>li+li {
	margin-top: 40px;
}
.comment-list>li.comment>.comment-children {
    padding-left: 100px;
}
.comment-list .comment-children>li {
	margin-top: 20px;
}

.comment-body {
	display: block;
}
.comment-body__holder {
	display: flex;
}
.comment-author .avatar {
	width: 71px;
	height: 71px;
	margin: 0 30px 15px 0;
	border-radius: 50%;
}
.comment-content {
    background-color: rgba(51,68,85,0.1);
    padding: 25px 40px 35px;
    border-radius: 8px;
    flex: 0 1 100%;
	position: relative;
    font-size: 11px;
}
.comment-content:before {
	border-color: transparent rgba(51,68,85,0.1) transparent transparent;
	border-width: 11px 12px 11px 0;
	content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    right: 100%;
}
.comment-data a, .reply a {
    background-color: transparent;
	text-decoration: none;
	color: rgb(102,102,102);
}
.comment-data a:hover, .reply a:hover {
	color: #444444;
}
.comment-post {
	margin-top: 5px;
}
.comment-post p {
	margin: 0px;
}

.comment-respond {
    padding-top: 60px;
    border-top: 1px solid #e7e7e9;
}    
.comment-reply-title {
	margin: 0 0 30px;
}
.comment-notes {
	margin: 0 0 20px;
}
.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-comment, {
	margin: 0 0 20px;
}
.comment-form__field {
	padding: 12px 14px;
    border: 1px solid #e0e0e2;
    background-color: #fff;
    color: #686868;
    border-radius: 8px;
    width: 100%;
}
.comment-form-email {
	margin: 0 0 20px;
}
.comment-form-comment .comment-form__field {
	width: 100%;
    height: 174px;
    min-height: 174px;
}
.form-submit {
    margin: 40px 0 0;
}
.submit {
    color: #ffffff;
    background-color: #303030;
    border-color: #303030;
    padding: 20px 33px;
    letter-spacing: .2rem;
    font-weight: 400;
    font-size: .8125rem;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: none;
}
.submit:hover {
	background-color: #334455;
    border-color: #334455;

}

/* about-content */
.about__entry-content {
    margin-top: 40px;
}

/* contact-content */
.feedback-container {
	display: flex;
	flex-wrap: wrap;
}
.feedback-form__name, .feedback-form__email {
    flex: 0 0 50%;
    max-width: 50%;
}
.feedback-form__name {
	padding-right: 15px;
}
.feedback-form__email{
	padding-left: 15px;
}
.feedback-form__address, .feedback-form__massage {
	flex: 0 0 100%;
    max-width: 100%;
}
.feedback-form__send {
	flex: 0 0 100%;
    max-width: 100%;
}
.feedback-form__field {
	width: 100%;
    padding: 12px 14px;
    border: 1px solid #e0e0e2;
    background-color: #fff;
    color: #686868;
    border-radius: 8px;
}
.feedback-form__submit {
	background-color: #c9c9c9;
    text-decoration: none;
    padding: 16px 27px 16px 27px;
    border-radius: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    color: #fff;
    letter-spacing: .2rem;
    font-weight: 400;
    font-size: .8125rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 12px;
}
.feedback-form__submit:hover {
	background-color: #000000;
    text-decoration: none;
}

/*
 * sidebar styles
 */
.sidebar {
	padding-right: 3.75rem;
} 
.widget {
    margin-bottom: 70px;
    padding-top: 57px;
    border-top: 1px solid #e7e7e9;	
}
.widget-title {
	font-size: 18px;
	margin-bottom: 1.42em;
}
.search-form {
	display: flex;
	align-items: flex-start;
    padding: 0px;
    flex-flow: row wrap;
}
.search-form__input-wrap {
	min-width: 185px;
    flex-grow: 5;
    flex-shrink: 1;
    flex-basis: 185px;
    position: relative;
}
.search-form__icon-mini {
	position: absolute;
	left: 15px;
	top: 40%;
}
.search-form__field[type=search] {
    padding-left: 40px;
    font-size: 12px;
    line-height: 1.857;
    letter-spacing: 0.2em;
}
.search-form__field {
	box-sizing: border-box;
	width: 100%;
    max-width: 100%;
    min-width: 50px;
    padding: 12px 14px;
    border: 1px solid #e0e0e2;
    background-color: #fff;
    color: #686868;
    border-radius: 8px;
}
.search-form__submit {
	border: 1px solid #334455;
	flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    padding: 11px 13px 11px 13px;
    margin-left: 5px;
    background: #fff;
    color: #303030;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.857;
    letter-spacing: 0.2em;
}
.search-form__submit:hover {
    border-color: 1px solid #303030;
    color: #444;
    background: #bfbfbf;
}

.tagcloud a {
	color: #595959;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.857;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin: 1.5px;
    padding: 9px 19px;
    border: 1px solid #e7e7e9;
    border-radius: 8px;
}
.tagcloud a:hover {
    text-decoration: none;
    background-color: #334455;
    color: #ffffff;
}

.custom-posts__item {
	padding-bottom: 35px;
}
.post-inner__icon {
    float: left;
    margin-right: 20px;
    margin-top: 6px;
}
.post-inner__link-img {
	width: 120px;
	height: auto;
    max-width: 100%;
}
.entry-header h5 a {
	text-decoration: none;
}
.entry-header h5 a:hover {
	text-decoration: none;
	color: #999999;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
    border: none;
}
.table-caption {
	color: #334455;
	margin-bottom: 13px;
    text-align: left;
}
thead tr th {
	padding: 0 0 4px;
	font-weight: 300;
}
tbody td {
	line-height: 36px;
	background-color: ;
    color: ;
    position: relative;
    font-size: .75rem;
    padding: 0 1px;
    text-align: center;
    border-radius: 8px;
}
tbody td a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	line-height: 36px;
	background-color: rgba(51,68,85,0.1);
    color: #595959;
	position: relative;
	font-size: .75rem;
    padding: 0 1px;
    text-align: center;
    border-radius: 8px;
}
tbody td a:hover {
	text-decoration: none;
	background-color: #303030;
    color: #ffffff;
    border-color: #303030;
}
tbody .not-current {
	background-color: rgba(255,255,255, 0.3);
}
tbody .current {
    border: 1px solid #838383;
    background-color: rgba(255,255,255, 0.3);
    color: #595959;
}

tfoot td {
    padding-top: 18px;
}
tfoot td a {
	color: #999999;
	text-decoration: none;
}
tfoot td a:hover {
    color: #444444;
    text-decoration: none;
}

.widget-categories ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.widget-categories ul li {
	display: block;
    margin-top: 11px;
}
.widget-categories__item:before {
	display: inline-block;
	content: "\f061";
	color: #303030;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	margin-left: -15px;
	margin-right: 7px;
    width: 5px;
	/*
    font: normal normal normal 14px/1 'Font Awesome 5 Free';

    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	*/
}
.widget-categories__item:hover:before {
	margin-left: -10px;
	margin-right: 3px;
}
.widget-categories ul li a {
	text-decoration: none;
    color: #999999;
}
.widget-categories ul li a:hover {
	text-decoration: none;
    color: #444444;
}


/*
 * footer styles
 */
.site-footer {
	background-color: #000000;
}
.footer-container {
	padding-top: 50px;
    padding-bottom: 55px;
    color: #ffffff;
    text-align: center;
}
.footer-logo {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;	
}
.footer-logo a {
	background-color: #000000;	
    text-decoration: none;
	color: #ffffff;
}
.social-list {
	padding-top: 10px;
	margin: 10px 0 0;
}
.social-list ul {
	list-style: none;
	width: 100%;
	text-align: center;
	padding: 0;
}
.social-list ul li {
	display: inline-block;
    padding-left: 11px;
    padding-right: 11px;
}
.social-list ul li a {
	background-color: #000000;	
    text-decoration: none;
	color: #ffffff;
}
.footer-copyright {
    margin: 10px 0 0;
    padding-top: 10px;
    font-size: 12px;
    font-weight: 400;
}


/*
 * @media
 */ 
@media (max-width: 576px) {
	
	h4 {
		font-size: 16px;
	}

	.site-logo {
 		text-align: center;
	}

	.posts-list__item {
		flex-wrap: wrap;
	}
	.post-icon {
		flex: 0 1 100%;
		width: 100%;
		max-width: 100%;
	    margin: 0 0 1.5rem 0;
	}
	.post-icon__link-img {
	    width: 100%;
	}

	.sidebar {
		padding-right: 15px;
	}
	.custom-posts {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin-left: -1.25rem;
    	margin-right: -1.25rem;			
	}
	.custom-posts__item {
		max-width: 50%;
		flex: 0 0 50%;
		padding-left: 1.25rem;
    	padding-right: 1.25rem;
	}

	.post-inner {
		display: flex;
		flex-wrap: wrap;
	}
	.post-inner__icon {
		margin-bottom: 10px;
		flex: 0 0 100%;
	}
	.post-inner__item-content {
		flex: 0 0 100%;
	}
	.post-inner__link-img {
		width: 100%;
	}

}

@media (min-width: 576px) {
	
	h4 {
		font-size: 16px;
	}

	.site-logo {
 		text-align: center;
	}
	.site-navigation ul li {
		display: block;
		width: 100%;
	}
	
	.posts-list__item {
		flex-wrap: wrap;
	}
	.post-icon {
		flex: 0 1 100%;
		width: 100%;
		max-width: 100%;
	    margin: 0 0 1.5rem 0;
	}
	.post-icon__link-img {
	    width: 100%;
	}

	.sidebar {
		padding-right: 15px;
	}
	.custom-posts {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin-left: -1.25rem;
    	margin-right: -1.25rem;			
	}
	.custom-posts__item {
		max-width: 50%;
		flex: 0 0 50%;
		padding-left: 1.25rem;
    	padding-right: 1.25rem;
	}

	.post-inner {
		display: flex;
		flex-wrap: wrap;
	}
	.post-inner__icon {
		margin-bottom: 10px;
		flex: 0 0 100%;
	}
	.post-inner__item-content {
		flex: 0 0 100%;
	}
	.post-inner__link-img {
		width: 100%;
	}
}

@media (min-width: 768px) {
	
	h4 {
		font-size: 16px;
	}

	.site-logo {
 		text-align: left;
	}
	.site-navigation ul li {
		display: block;
		width: 100%;
	}

	.posts-list__item {
		flex-wrap: wrap;
	}
	.post-icon {
		flex: 0 1 100%;
		width: 100%;
		max-width: 100%;
		margin: 0 0 1.5rem 0;
	}
	.post-icon__link-img {
	    width: 100%;
	}

	.custom-posts {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin-left: -1.25rem;
    	margin-right: -1.25rem;		
	}
	.custom-posts__item {
		max-width: 100%;
		flex: 0 0 50%;
		padding-left: 1.25rem;
    	padding-right: 1.25rem;
	}
	.post-inner {
		display: flex;
		flex-wrap: wrap;
	}
	.post-inner__icon {
		flex: 0 0 100%;
	}
	.post-inner__item-content {
		flex: 0 0 100%;
	}

	.post-inner {
		display: flex;
		flex-wrap: wrap;
	}
	.post-inner__icon {
		margin-bottom: 10px;
	}
	.post-inner__link-img {
		width: 100%;
	}
}

@media (min-width: 992px) {
	
	h4 {
		font-size: 22px;
	}

	.site-logo {
 		text-align: left;
	}

	.posts-list__item {
		flex-wrap: wrap;
	}
	.post-icon {
		flex: 0 1 100%;
		width: 100%;
		max-width: 100%;
	    margin: 0 0 1.5rem 0;
	}
	.post-icon__link-img {
	    width: 100%;
	}

	.sidebar {
		padding-right: 45px;
	}
	.custom-posts {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;		
	}
	.custom-posts__item {
		max-width: 100%;
		flex: 0 0 100%;
	}
	.post-inner {
		display: flex;
		flex-wrap: wrap;
	}
	.post-inner__icon {
		flex: 0 0 100%;
	}
	.post-inner__item-content {
		flex: 0 0 100%;
	}  
}

@media (min-width: 1200px) {
	
	h4 {
		font-size: 22px;
	}

	.site-logo {
 		text-align: left;
	}

	.posts-list__item {
		flex-wrap: nowrap;
	}
	.post-icon {
        max-width: 300px;
	    padding: 0;
	    margin: 0 30px 0 0;
	    flex: 0 0 300px;
	}
	.post-icon__link-img {
	    max-width: 100%;
	}

	.sidebar {
		padding-right: 45px;
	}
	.custom-posts {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;		
	}
	.custom-posts__item {
		max-width: 100%;
		flex: 0 0 100%;
	}
	.post-inner {
		display: flex;
		flex-wrap: nowrap;
	}
	.post-inner__icon {
		flex: 0 0 35%;
	}
	.post-inner__item-content {
		flex: 1 0 auto;
	}
} 